<nav >
    <div class="nav-wrapper #212121 grey darken-4">
        <a href="/home" class="brand-logo">Playbook</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/venues">Set up a game</a></li>
            <li><a href="/join">Join a game</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/profile">My Account</a></li>
        </ul>
    </div>
</nav>





<p class="text">Congratulations. Your event has been created.</p>
<a href="/venues" class="text">Create Another event</a> 
<br />
{{!-- <a href="/home">Go to Home page</a>     --}}