<main>

<nav class="our-bar textonly">
    <div class="text container nav-wrapper">
        <a href="/" class="text brand-logo">Playbook</a>
        <ul id="nav-mobile" class="text right hide-on-med-and-down">
            {{!-- <li><a href="/venues">Set up a game</a></li> 
            <li><a href="/join">Join a game</a></li>--}}
            <li><a href="/news">News</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav> 

  <div class="container-signUp"> 
    

    <div class="z-depth-1 grey lighten-4 row"
      style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <div class="row"> 
           <h1 class="text">Signup to Play!</h1>  
      </div>
      <div class="row">
        <label  class="error text" style="color: red">{{error}}</label> 

        {{!<label style="color : #bf360c; font-variant: small-caps; font-family: 'Lilita One', cursive;" class="error text">{{error}}{{!</label>-}}
        <form class="col s12" method="POST" id="login_form" action="/signup">
          <div class="row"> 
            <div class="input-field col s6">
              <input id="first_name" type="text" name="first_name" class="validate text" required>
              <label style = "select" for="first_name">First Name</label> 
              {{!<label style="color : #bf360c; font-variant: small-caps; font-family: 'Lilita One', cursive;" for="first_name" class="text">First Name</label>-}}
            </div>
            <div class="input-field col s6">
              <input id="last_name" name="last_name" type="text" class="validate text" required>
              <label for="last_name" class="text">Last Name</label>  
              {{!<label style="color : #bf360c; font-variant: small-caps; font-family: 'Lilita One', cursive;"  for="last_name" class="text">Last Name</label>-}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" name="email" class="validate text" required>
              <label  for="email" class="text">Email</label>
            </div>
          </div>  
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" name="password" class="validate text"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Your password must contain at least one numeric and one uppercase and lowercase letter, and at least 8 or more characters"
                onchange="cnf_pass_check()" required>
              <label   for="password" class="text">Password</label>
            </div>
          </div>
          
          <div class='row'>
            <button type='submit' id='btn_login' class='col s12 btn btn-large waves-effect textonly'>Signup</button>
          </div>
        </form>
        <div>
          <a href="login" class="text">Already have an account , Login here</a>
    </div>
      </div>
    </div>
  </div>>
</main>